spring:
  application:
    name: USER-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/fitness_tracker
    username: root
    password: root
    driver-class-name:
  jpa:
    hibernate:
      ddl-auto: update
  profiles:
    active: local
server:
  port: 9091

eureka:
    client:
      service-url:
        defaultZone: http://localhost:9090/eureka/