spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/api/v1/user/**

        - id: ai-service
          uri: lb://AI-SERVICE
          predicates:
            - Path=/api/v1/recommendation/**

        - id: activity-service
          uri: lb://ACTIVITY-SERVICE
          predicates:
            - Path=/api/v1/activity/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9090/eureka/

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG
